@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

@media only screen and (min-width: 600px) {

    .react-app-link-container {
        display: flex !important;
    }

    .react-app-container {
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(140deg, #561dff, #5407ff, #7208f3);
        background-size: 400% 400%;
        -webkit-animation: Gradient 15s ease-in-out infinite;
        -moz-animation: Gradient 15s ease-in-out infinite;
        animation: Gradient 15s ease-in-out infinite;
    }

    /* Animation */
    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

}

.bluepurple{
    background:linear-gradient(45deg,rgb(236, 89, 255) 0%, rgb(75, 63, 245));
    opacity:1;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c39cf0', endColorstr='#625ff5', GradientType=1 );
    transition: 0.3s ease;
}

.bluepurple:hover{
    background:linear-gradient(45deg, rgb(236, 89, 255) 0%, rgb(75, 63, 245));
    opacity:0.5;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c39cf0', endColorstr='#625ff5', GradientType=1 );
}

.orangeyellow{
    background:linear-gradient(45deg, rgb(255, 208, 59) 0%, rgb(245, 103, 49));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c39cf0', endColorstr='#625ff5', GradientType=1 );
}

.bluegreen{
    background:linear-gradient(45deg, rgb(255, 19, 147) 0%, rgb(93, 30, 190));
}


.whiteyellow{
    background:linear-gradient(45deg, rgb(245, 248, 255) 0%, rgb(255, 221, 72));
}

.darkbluepurp{
    background:linear-gradient(45deg, rgb(33, 31, 88) 0%, rgb(83, 75, 125));
}

h1{
    font-size: 30px;
}

.button:hover{
    cursor:pointer;
}